body {
	background-size: 100%;
    background-color: rgb(110,110,130);
}
h1 {
    color: black;
    font-family: arial;
    font-size: 250%;
    text-align: left;
    padding-left: 12px;

}
h2 {
    color: rgb(50,80,80);
    font-family: arial;
    font-size: 120%;
    text-align: left;
    vertical-align: top;
    padding-left: 15px;
    position: absolute;
    top: 76px;

}
h3 {
    color: black;
    font-family: arial;
    font-size: 120%;
}
p, .loginLabel  {
    color: white;
    font-family: courier;
    font-size: 100%;
 
}

td, th {
  border: 0px solid #999;
}
/* Style the tab */
div.tab {

    float: left;
    height: 300px;
}

.tablogincontent {
    margin-top: 200px;
    margin-left: 200px;
}


/* Style the buttons inside the tab */
.tablinks {
	display: block;
    background-color: inherit;
    color: white;
    font-family: courier;
    font-size: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 12px;

}

.loginError {
    color: red;
    font-family: courier;
    font-size: 100%;

}

/* Style the buttons inside the tab */
div.tab button:active {
    color: blue;
}

div.productTitleDisplay {
    line-height=1;
}

#productName
{
    width: 400px;
}

.loginLabel
{
    width: 300px;
}

.productDetailBlockLabels {
    display: none;
    width: 250px;
}
.productDetailBlockData {
    display: none;
    width: 850px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0px 12px;
    border: none;
    border-top: none;

    height: 300px;
}

