<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ElsTest</title>
	<link rel="stylesheet" th:href="@{elstest.css}" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{elstest.js}"></script>
</head>
<body>

	<table style="width:100%">
		<tr style="height:30px">
			<th><h1>ElsTest</h1><h2>Product Details</h2></th>
		</tr>
	  	<tr>
		    <td style="width:15%">
		    	<div class="tab">
					<button class="tablinks" onclick="openMenu(event, 'Search for Product')" id="defaultOpen">Search for Product</button>
					<button class="tablinks" onclick="listProducts()">List all Products</button>
					<form method="POST" th:action="@{/logout}">
						<input class="tablinks" type="submit" value="Logout"/>
					</form>
				</div>
		    </td>
		    <td style="width:85%">
		    	<div id="Search for Product" class="tabcontent">
					<h3>Search for a Product</h3>
					<div class="productDetails">
						<p>Product title:
						<input type="text" name="productName" id="productName"/>
						</p>

						<button onclick="search()">Search</button>
					</div>
					<br/>
					<table>
					<tr>
						<td>
							<div class="productDetailBlockLabels">
								<p class="productDetail">Notification Type:</p>
								<p class="productDetail">Product Identifier:</p>
								<p class="productDetail">ProductForm:</p>
								<p class="productDetail">Title:</p>
								<p class="productDetail">Contributor:</p>
								<p class="productDetail">Language Code:</p>
								<p class="productDetail">Imprint Name:</p>
								<p class="productDetail">Publication Date:</p>
							</div>
						</td>
						<td>
							<div class="productDetailBlockData">
								<p class="productDetail" id="notificationType"></p>
								<p class="productDetail" id="productIdentifier"></p>
								<p class="productDetail" id="productForm"></p>
								<p class="productDetail" id="title"></p>
								<p class="productDetail" id="contributor"></p>
								<p class="productDetail" id="languageCode"></p>
								<p class="productDetail" id="imprintName"></p>
								<p class="productDetail" id="publicationDate"></p>
							</div>
						</td>
					</tr>
					</table>
				</div>

				<div id="List all Products" class="tabcontent">
					<h3>List all Products</h3>
					<div class="productTitleDisplay"></div>
				</div>

				<div id="Logout" class="tabcontent">
					<h3>Logout</h3>
					<p>Logout</p>
				</div>

		    </td>
	 	</tr>
	</table>

	<script>
		// Get the menu item with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
	</script>

</body>
</html>



