<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml">
<head>
	<title>ElsTest</title>
	<link rel="stylesheet" th:href="@{/elstest.css}" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8" th:src="@{elstest.js}"></script>
</head>
<body>
	<div id="Login" class="tablogincontent">

		<form method="POST" th:action="@{/login}" id="loginForm">
			<h3>Login to view product data</h3>

			<div class="loginDetails">

				<label for="username" class="loginLabel" pattern="^[\w]+"; display:inline-block>Username: </label>
				<input type="text" name="username" id="username"/></br></br>

				<label for="password" class="loginLabel" pattern="^[\w]+"; display:inline-block>Password: </label>
				<input type="text" name="password" id="password"/></br></br>

				<input type="submit" value="Login"/>

			</div>

			<div class="loginError" th:if="${param.error}">
				</br> Unable to login with this username and password
			</div>


		</form>

		<br/>
	</div>

</body>

</html>
